<h1>Project Overview</h1>
<% if @projects.any? %>
  <% @projects.each do |project| %>
  <h3><%= project.name %></h3>
  <ul>
    <li>Description: <%= project.description %></li>

    <li>Status: <%= project.status %></li>

    <li>Objectives: <%= project.objectives %></li>

    <li>Milestones:</li>
      <ul>
      <% project.milestones.each do |milestone| %>
        <li>Title: <%= milestone.title %></li>
        <li>Due: <%= milestone.deadline %></li>
        <li>Objective: <%= milestone.objective %></li>
      <% end %>
      <% if project.timeline %>
        <li>Timeline:</li>
        <li>Start Date: <%= project.timeline.start_date %></li>
        <li>End Date: <%= project.timeline.end_date %></li>
      <% end %>
      </ul>
  </ul>
  <% end %>
<% else %>
  <p>You have a pending project assignment. Please check again later.</p>
<% end %>