<div class="container-fluid p-5">
  <div class="row">
    <div class="col-md-7">
      <% if @projects.any? %>
        <h2 class="team-info-heading mb-5">Project Overview</h2>
        <% @projects.each do |project| %>
            <div class="col-md-12">
              <div class="card rounded mb-3 card-hover" style="width :80%;">

                <div class="card-body">
                  
                  <div class="row">
                    <div class="col-md-12 mb-3">
                        <h4 class="card-title"><%=project.name%></h4>
                    </div>
                  </div>

                  <div class="row mb-3">
                    
                    <div class="col-12 col-md-9">
                      <div class="row mb-3">
                        <div class="col-12 col-md-12">
                          <p class="card-text text-secondary">Description</p>
                        </div>

                        <div class="col-12 col-md-12">
                          <p class="card-text"><%= project.description %></p>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-12 col-md-3">
                      <div class="row mb-3">
                        <div class="col-12 col-md-12">
                          <p class="card-text text-secondary">Status</p>
                        </div>

                        <div class="col-12 col-md-12">
                          <p class="card-text <%=project.status.titleize == 'Active' ? 'text-success' : 'text-warning'%>"><%= project.status.titleize %></p>
                        </div>
                      </div>
                    </div>
                  </div>


                <div class="row mb-3">

                  <div class="col-12 col-md-4">
                    <div class="row mb-3">
                      <div class="col-12 col-md-12">
                        <p class="card-text text-secondary">Start Date</p>
                      </div>

                      <div class="col-12 col-md-12">
                        <p class="card-text">2024-9-10</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-4">
                    <div class="row mb-3">
                      <div class="col-12 col-md-12">
                        <p class="card-text text-secondary">End Date</p>
                      </div>

                      <div class="col-12 col-md-12">
                        <p class="card-text">2024-10-10</p>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row mb-3">
                  <div class="col-12 col-md-4">
                    <span style="width: 100%;">
                       <%= link_to "Know Your Team", dashboard_team_view_path, class: "btn btn-warning btn-md view-team" %>
                    </span>
                  </div>

                  <div class="col-12 col-md-4">
                    <div style="width: 100%;">
                       <%= link_to "View Project", project_hub_path, class: "btn btn-primary btn-md" %>
                    </div>
                  </div>
                  
                </div>

                </div>
              </div>
            </div>
        <% end %>
      <% else %>
        <p>You have a pending project assignment. Please check again later.</p>
      <% end %>
    </div>
    
    <aside class="col-md-5">
      <div>
 
      </div>
    </aside>
  </div>
</div>
