<div class="container-fluid p-5">
  <div class="row">
   
    <div class="col-md-9">
      <h3 class="team-info-heading">Team Members Information For <%=@project_name %></h3>
      <div>
        <div class="row">
        <% if @team_members.present? %>
          <% @team_members.each do |user| %>
            <div class="col-md-6">
              <div class="card rounded mb-3 card-hover" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-12 col-md-4 d-flex justify-content-left align-items-center">
                    <img src="<%= user.photo.present? ? "#{user.photo}?sz=200" : asset_path("user icon.png") %>" alt="App Icon" width="150" height="150", class='img-fluid'>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="card-body">
                      <h5 class="card-title"><%=user.first_name%> <%=user.last_name%></h5>
                      <p class="card-text"><i class="material-icons icon email-icon">mail</i><a href="mailto:<%=user.email%>"><%=user.email%></a><br><i class="material-icons icon">call</i>+1 <%=user.contact%></p>
                      <p class="card-text"><small class="text-muted">Last updated at <%=user.updated_at.to_date%></small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <% else %>
          <p>You have a pending project assignment, no team information is available. Please check again later.</p>
        <% end %>
        </div>
      </div> 
    </div>
    
    <aside class="col-md-3">
      <div>
        <h3 class="team-info-heading">Key Contacts</h3>
        <ul class="list-group mentor">
          <% @mentors.each do |mentor| %>
            <li class="list-group-item" style="background-color: #f8f8f8;">
              <strong><%=mentor.first_name%> <%=mentor.last_name%></strong><br>
              <%=mentor.role.titleize%><br>
              <i class="material-icons icon email-icon">mail</i><a href="mailto:<%=mentor.email%>"><%=mentor.email%></a><br>
              <i class="material-icons icon">call</i>+1 <%=mentor.contact%>
            </li>
          <% end %>
        </ul>
      </div>
    </aside>
  </div>
</div>
