<h1>Project Management Hub</h1>
<% if @projects.any? %>
  <% @projects.each do |project| %>
  <h3><%= project.name %></h3>
  <ul>
    <li>Description: <%= project.description %></li>
    <li>Status: <%= project.status %></li>
    <li>Objectives: <%= project.objectives %></li>
  </ul>
  <% end %>
<% else %>
  <p>Get Stated. Create a New Project.</p>
<% end %>

<button id="openProjectModal">Create New Project</button>

<div id="projectModal" class="modal">
    <div class="modal-content">
        
        <h2>Create New Project <span style="display: flex; flex-direction: row; justify-content:end;"class="close">&times;</span></h2>
        <%= form_with(model: @project,url: create_project_path, method: :post, local: true, class: 'project-form') do |form| %>
        <div>
            <%= form.label :name, 'Project Name' %>
            <%= form.text_field :name, required: true %>
        </div>

        <div>
            <%= form.label :description, 'Project Description' %>
            <%= form.text_area :description %>
        </div>

        <div>
            <%= form.label :objectives, 'Project Objectives' %>
            <%= form.text_area :objectives %>
        </div>

        <div style="display: flex; flex-direction: row; justify-content: start; margin-bottom: 15px !important;">
            
            <div style="margin-right: 5%; ">
                <span class="form-label"><%= form.label :start_date, 'Project Start Date' %></span>
                <%= form.date_field :start_date %>
            </div>

            <div>
                <span class="form-label"><%= form.label :end_date, 'Project End Date' %></span>
                <%= form.date_field :end_date %>
           
            </div>
        </div>

        <div>
           
        </div>

        <div>
            <%= form.label :status, 'Project Status' %>
            <%= form.select :status, ['Active', 'Inactive', 'Completed'], { selected: 'Active' } %>
        </div>

        <div>
            <%= form.label :user_ids, 'Project Members' %>
            <%= form.select :user_ids, User.where(role: 'student').map { |u| [u.full_name, u.id] }, {}, { multiple: true, class: 'user-select' } %>
        </div>

        <div class="form-actions">
            <%= form.submit 'Create Project', class: 'btn btn-primary submit-btn' %>
        </div>
        <% end %>
    </div>
</div>
  
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var modal = document.getElementById("projectModal");
    var btn = document.getElementById("openProjectModal");
    var span = document.getElementsByClassName("close")[0];
    var errorMessage = document.getElementById('error-message');

    btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
        modal.style.display = "none";
        }
    }

    if (errorMessage) {
        var message = errorMessage.getAttribute('data-error');
        alert(message);
    }
    });
</script>
