<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Management Hub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <style>
      .container {
        display: flex;
      }
      .box {
        width: 100px;
        height: 20px;
        background-color: lightblue;
        margin: 10px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1>Project Management Hub</h1>
      <h2>email : <%= @user.email %></h2>
      <h2>user : <%= @role %></h2>

      <button id="openProjectModal" class="btn btn-primary">Create New Project</button>

      <%= button_to "Logout", "/logout", method: :get, class: 'btn btn-secondary' %>

      <%= render 'new' %>
    </div>

    <!-- Add Bootstrap JS and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var openModalButton = document.getElementById('openProjectModal');
        
        openModalButton.addEventListener('click', function() {
          $('#projectModal').modal('show');
        });
      });
    </script>
  </body>
</html>
