<div style="margin-top: 20px;" class="container-fluid">
  <div style="display:flex; flex-direction: row; justify-content: space-between; align-items: center;">
    <div>
      <h1>Project Management Hub</h1>
    </div>
    <div>
      <button class="btn btn-success" id="openProjectModal">Create New Project</button>
      <%= render 'new' %>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <% if @projects.any? %>
      <div class="d-flex flex-wrap mt-5" style="gap: 20px;">
        <% @projects.each do |project| %>
          <div class="card mb-3 flex-item" style="min-width:450px">
            <div class="card-header">
              <div style="display:flex; flex-direction: row; justify-content: space-between; align-items: center; margin-bottom: 3px;">
                <div>
                  <h5><%= project.name %></h5>
                </div>
                <div>
                  <a href="/projects/<%= project.id %>/dashboard" class="btn btn-primary">View Project</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3 text-secondary">
                  Description
                </div>
                <div class="col-sm-8">
                  <%= project.description %>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 text-secondary">
                  Status
                </div>
                <div class="col-sm-8">
                  <span class="<%= project.status.titleize == 'Active' ? 'text-success' : 'text-danger' %>">
                    <%= project.status.titleize %>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3 text-secondary">
                  Objectives
                </div>
                <div class="col-sm-8">
                <%= truncate(project.objectives, length: 20) %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <h3 class="mt-5">Get Started. Create a New Project.</h3>
    <% end %>
  </div>
</div>



<!-- Add Bootstrap JS and its dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  


function initializeModal() {
  // Get the button and modal elements
  const openModalButton = document.getElementById('openProjectModal');
  const modal = document.getElementById('projectModal');
  const closeModalButton = document.querySelector('.close');

  if (!openModalButton || !modal || !closeModalButton) return; 

  openModalButton.addEventListener('click', function() {
    modal.style.display = 'block';
  });

  closeModalButton.addEventListener('click', function() {
    modal.style.display = 'none';
  });

  window.addEventListener('click', function(event) {
    if (event.target == modal) {
      modal.style.display = 'none';
    }
  });
}

document.addEventListener('turbolinks:load', initializeModal); 
document.addEventListener('turbo:load', initializeModal); 
document.addEventListener('DOMContentLoaded', initializeModal);


window.addEventListener('pageshow', function(event) {
  if (event.persisted) {
    initializeModal(); 
  }
});
</script>
