<div class="container-fluid p-4">
  <div class="row">
    <div class="col-12 col-lg-7">
      
      <div class="mb-3 p-2">
          <div class="project-card card rounded mb-3 card-hover">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 mb-3">
                    <h4 class="card-title"><%= @project.name %></h4>
                </div>
              </div>

              <div class="row mb-3">
                
                <div class="col-12 col-md-9">
                  <div class="row mb-3">
                    <div class="col-12 col-md-12">
                      <p class="card-text text-secondary">Description</p>
                    </div>

                    <div class="col-12 col-md-12">
                      <p class="card-text"><%= @project.description %></p>
                    </div>
                  </div>
                </div>
                
                <div class="col-12 col-md-3">
                  <div class="row mb-3">
                    <div class="col-12 col-md-12">
                    </div>
                    <div class="col-12 col-md-12">
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-12 col-md-12">
                  <p class="card-text text-secondary">Objective</p>
                </div>

                <div class="col-12 col-md-12">
                  <p class="card-text"><%= @project.objectives %></p>
                </div>
              </div>
            
              <div class="row mb-3">
                <div class="col-12 col-md-4">
                  <div class="row mb-3">
                    <div class="col-12 col-md-12">
                      <p class="card-text text-secondary">Start Date</p>
                    </div>

                    <div class="col-12 col-md-12">
                      <% if @project.start_date.present? %>
                        <p class="card-text"><%= @project.start_date.strftime("%d %b %Y") %></p>
                      <% else %>
                        <p class="card-text">No start date</p>
                      <% end %>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="row mb-3">
                    <div class="col-12 col-md-12">
                      <p class="card-text text-secondary">End Date</p>
                    </div>

                    <div class="col-12 col-md-12">
                      <% if @project.end_date.present? %>
                        <p class="card-text"><%= @project.end_date.strftime("%d %b %Y") %></p>
                      <% else %>
                        <p class="card-text">No end date</p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-12 col-md-4">
                  <span style="width: 100%;">
                      <%= link_to "Know Your Team", project_view_team_path(@project), class: "btn btn-warning btn-md view-team" %>
                  </span>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="mb-3 p-2">
            <h4 class="mb-4">Certificate Completion Score</h4>
            <h6 class="mb-3">Score : <%= @user.score %>/100</h6>
               <div style="height: 25px;" class="progress">
              <div 
                id="progressBar" 
                class="progress-bar bg-success progress-bar-striped progress-bar-animated" 
                role="progressbar" 
                style="width: <%= @user.score %>%;" 
                aria-valuenow="<%= @user.score %>" 
                aria-valuemin="0" 
                aria-valuemax="100">
                <span style="font-size: 14px;"><strong><%= @user.score %></strong></span>
              </div>
             </div>
        </div>
    </div>
    
    <div style="height: 90vh; overflow-y: auto; overflow-x: hidden;" class="col-12 col-lg-5">
      <div class="p-2">
        <% if @event.present? %> 
          <div data-controller="event" data-event-event-id-value="<%= @event.id %>"class="rounded mb-3">
            <div  data-event-target="card" style="z-index: 1;" class="card mb-3 shadow-lg position-fixed event-notification-card">
              <div class="card-body d-flex">
                  <div>
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffc108" height="35px" width="35px" version="1.1" id="Layer_1" viewBox="0 0 300.005 300.005" xml:space="preserve">
                        <g>
                          <g>
                            <path d="M150,0C67.159,0,0.002,67.162,0.002,150S67.159,300.005,150,300.005c82.843,0,150.003-67.165,150.003-150.005    S232.843,0,150,0z M135.499,177.77l-16.809-9.228h-10.019v-0.003l-10.105,35.525H72.181l10.105-35.525h-0.973    c-16.086,0-29.126-13.038-29.126-29.129c0-16.086,13.041-29.124,29.126-29.124h37.377l16.809-9.228V177.77z M168.163,195.695    l-17.102-9.386V93.602h-1.982l19.081-10.476c6.995,0,12.665,5.67,12.665,12.665v87.239h0.003    C180.828,190.025,175.158,195.695,168.163,195.695z M202.404,167.139c4.682-6.481,7.472-14.415,7.472-23    c0-8.585-2.791-16.519-7.472-23l9.057-9.057c6.935,8.847,11.077,19.974,11.077,32.057c0,12.083-4.145,23.21-11.077,32.057    L202.404,167.139z M227.581,192.315l-8.982-8.982c8.722-10.701,13.967-24.346,13.967-39.195s-5.242-28.494-13.967-39.195    l8.982-8.982c11.002,13.023,17.655,29.835,17.655,48.177S238.583,179.295,227.581,192.315z"/>
                          </g>
                        </g>
                      </svg>
                  </div>
                  <div class="d-flex flex-column px-3 event-notfication-card-text">
                      <h5 class="card-title" style="margin-top: 0.3rem;"><%= @event.title %></h5>
                      <p class="card-text mt-2"><%= @event.description %></p>
                      <p class="card-text"><small class="text-muted">Date: <%= @event.updated_at&.strftime("%d %b %Y") %></small></p>
                  </div>
                  <div class="ml-auto event-notification-close">
                    <button type="button" class="btn-close" aria-label="Close" data-action="click->event#closeCard"></button>
                    </button>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        <% end %>
        <!-- project resources -->
        <div class="row">
          <h4 class="mb-3">Project Resources</h4>
          <% @resources.each do |resource| %>
            <% if resource.present? %>
              <div class="col-12">
                <div class="resource-card card" style="width: 100%;">
                  <div class="card-body">

                   <div class="row"> 
                      <div class="col-md-6">
                        <h6><%= resource.name %></h6>
                      </div>
                      
                      <div class="col-md-6 d-flex justify-content-end align-items-end">
                        <% if resource.file.attached? %>

                            <% if resource.file.representable? %> 
                              <div style="margin-right:10px;">
                                  <%= link_to 'Preview', open_project_resource_path(project_id: @project.id, id: resource.id), target: '_blank', class: 'btn btn-warning btn-sm' %>
                                  <%= link_to 'Download', download_project_resource_path(project_id: @project.id, id: resource.id), target: '_blank', class: 'btn btn-warning btn-sm' %>
                              </div>
                            <%else%>
                              <div style="margin-right:10px;">
                                  <%= link_to 'Download', download_project_resource_path(project_id: @project.id, id: resource.id), target: '_blank', class: 'btn btn-warning btn-sm' %>
                              </div>

                            <%end %> 
                            
                        <% else %>
                          <span class="disabled">No file attached</span>
                        <% end %>
                        
                      </div>

                       </div class="row">
                        <div class="col-md-12">
                            <small><p class="card-text text-muted"><%= resource.created_at&.strftime("%B %d, %Y") %></p></small><small><p class="card-text text-muted"><%= resource.file.filename.to_s %></p></small> 
                        </div>
                      </div>
                
                    </div>
                
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          </div>
      </div>
    </div>

  </div>
</div>