<% if !@project.nil? %>

<div class="container-fluid p-5">

    <div class="row">

        <div class="col-md-7">

            <div class="col-md-12">

                <div class="card rounded mb-3 card-hover" style="width :80%;">

                    <div class="card-body">
                
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <h4 class="card-title">Project Details</h4>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12 col-md-9">
                                <div class="row mb-3">
                                    <div class="col-12 col-md-12">
                                        <p class="card-text text-secondary">Description</p>
                                    </div>

                                    <div class="col-12 col-md-12">
                                        <p class="card-text"><%= @project.description %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="row mb-3">
                                    <div class="col-12 col-md-12">
                                        <p class="card-text text-secondary">Status</p>
                                    </div>

                                    <div class="col-12 col-md-12">
                                        <p class="card-text <%= @project.status.titleize == 'Active' ? 'text-success' : 'text-warning'%>"><%= @project.status.titleize %></p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row mb-3">
                            <div class="col-12 col-md-4">
                                <div class="row mb-3">
                                    <div class="col-12 col-md-12">
                                        <p class="card-text text-secondary">Start Date</p>
                                    </div>

                                    <div class="col-12 col-md-12">
                                        <p class="card-text">2024-9-10</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="row mb-3">
                                    <div class="col-12 col-md-12">
                                        <p class="card-text text-secondary">End Date</p>
                                    </div>

                                    <div class="col-12 col-md-12">
                                        <p class="card-text">2024-10-10</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12 col-md-9">
                                <div class="row mb-3">
                                    <div class="col-12 col-md-12">
                                        <p class="card-text text-secondary">Objectives</p>
                                    </div>

                                    <div class="col-12 col-md-12">
                                        <p class="card-text"><%= @project.objectives %></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12 col-md-9">
                                <div class="row mb-3">
                                    <div class="col-12 col-md-12">
                                        <p class="card-text text-secondary">Score</p>
                                    </div>

                                    <div class="col-12 col-md-12">
                                        <p class="card-text"><%= @current_user.score %></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        
    </div>

    <% if false %>
    <div class="row">
        <div class="col-md-7">
            <div class="card rounded mb-3 card-hover" style="width :80%;">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <h4 class="card-title">Student Score</h4>
                        </div>
                    </div>

                    <%= @current_user.score %>

                </div>
            </div>
        </div>
    </div>
    <% end %>

</div>

<% else %>
    <p>No projects.</p>
<% end %>