<h1>Resources for <%= @project.name %></h1>

<%= link_to 'New Resource', new_project_resource_path(@project) %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>File</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= link_to 'Download', resource.file.attached? ? rails_blob_path(resource.file, disposition: 'attachment') : '#', class: resource.file.attached? ? 'link' : 'disabled' %></td>
        <td>
          <%= link_to 'Show', project_resource_path(@project, resource) %>
          <!-- You can add edit and delete links here if needed -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
