<div class="fluid-container">
  <div class="d-flex flex-column flex-shrink-0 p-3 shadow-lg" style="top:60px; width: 280px; height: 92vh; position:fixed;">
    <a href="/" class="d-flex align-items-center mt-3 link-dark text-decoration-none">
      <h4><%= @project.name %></h4>
    </a>
    <hr>
    <ul class="nav flex-column mb-auto">
    <% if @role == 'admin' %>
        <li>
        <%= link_to "Dashboard", project_dashboard_path(@project), method: :get, 
          class: "nav-link #{current_page?(project_dashboard_path(@project)) ? 'active' : 'link-dark'}" %>
      </li>
      <li>
        <%= link_to "Resource Management", project_resources_path(@project), method: :get, 
          class: "nav-link #{current_page?(project_resources_path(@project)) ? 'active' : 'link-dark'}" %>
      </li>
      <li>
        <%= link_to "Team Management", project_team_management_path(@project), method: :get, 
          class: "nav-link #{current_page?(project_team_management_path(@project)) ? 'active' : 'link-dark'}" %>
      </li>
      <li>
        <%= link_to "Milestone Management", project_milestones_path(@project), method: :get, 
          class: "nav-link #{current_page?(project_milestones_path(@project)) ? 'active' : 'link-dark'}" %>
      </li>
    <% end %>
    <% if @role == 'student' %>
      <li>
        <%= link_to "Project Hub", project_hub_path(), method: :get, 
          class: "nav-link #{current_page?(project_hub_path()) ? 'active' : 'link-dark'}" %>
      </li>

       <li>
        <%= link_to "Team Members", project_view_team_path(@project), method: :get, 
          class: "nav-link #{current_page?(project_view_team_path(@project)) ? 'active' : 'link-dark'}" %>
      </li>

      <li>
        <%= link_to "Task Management", project_student_view_tasks_path(@project, @user), method: :get, 
          class: "nav-link #{current_page?(project_student_view_tasks_path(@project, @user)) ? 'active' : 'link-dark'}" %>
      </li>

    <% end %>
    </ul>
  </div>
</div>
